[submodule "auth"]
	path = auth
	url = git@github.com:wjn/ms-auth.git
[submodule "client"]
	path = client
	url = git@github.com:wjn/ms-client.git
[submodule "tickets"]
	path = tickets
	url = git@github.com:wjn/ms-tickets.git
[submodule "orders"]
	path = orders
	url = git@github.com:wjn/orders-ms.git
[submodule "expiration"]
	path = expiration
	url = git@github.com:wjn/ms-expiration.git
[submodule "payments"]
	path = payments
	url = git@github.com:wjn/ms-payments.git
