[submodule "auth"]
	path = auth
	url = git@github.com:wjn/ms-auth.git
[submodule "client"]
	path = client
	url = git@github.com:wjn/ms-client.git
[submodule "lib"]
	path = lib
	url = git@github.com:wjn/ms-lib.git
